
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-family: "Lato", Arial, Helvetica, sans-serif;
  color: var(--primary-color);
}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
	-webkit-appearance:none;
}

ul {
  list-style-type: none;
}

button,
a {
  cursor: pointer;
  font: inherit;
  color: inherit;
  text-decoration: none;
}

input,
button,
a,
select,
fieldset {
  border: none;
  background-color: transparent;
  outline: none;
}

img {
  width: 100%;
  pointer-events: none;
}

.visually-hidden {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  inline-size: 1px;
  block-size: 1px;
  clip-path: inset(50%);
  white-space: nowrap;
}

summary {
  list-style: none;
  cursor: pointer;
  position: relative;
}

summary::-webkit-details-marker {
  display: none;
}