:root {
    --page-background-color: #edeff6;
    --background-color: #fff;
    --accent-color: #ffd74b;
    --main-color: #1d2e5b;
    --secondary-color: #000;

    --font-weight-regular: 400;
    --font-weight-medium: 500;
    --font-weight-bold: 700;
}